.container {width: 100%; }
.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
}
.suggestion {
    background-color: aliceblue;
}
.suggestionsContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
}
.suggestionsContainerOpen{
    padding: 10px;
    box-sizing: border-box;
    background-color: aliceblue;
}

/* containerOpen {

}           'react-autosuggest__container--open',
input:                    'react-autosuggest__input',
inputOpen:                'react-autosuggest__input--open',
inputFocused:             'react-autosuggest__input--focused',
suggestionsContainer:     'react-autosuggest__suggestions-container',
suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',
suggestionsList:          'react-autosuggest__suggestions-list',
suggestion:               'react-autosuggest__suggestion',
suggestionFirst:          'react-autosuggest__suggestion--first',
suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',
sectionContainer:         'react-autosuggest__section-container',
sectionContainerFirst:    'react-autosuggest__section-container--first',
sectionTitle:             'react-autosuggest__section-title' */